nav {
    margin-bottom: 5px;
}

.toggle-button {
    cursor: pointer;
}

/* strange: if without prefix input in the selector, it does not have an effect?! */
input.slider {
    display: inline-block;
    vertical-align: middle;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

input[type=number] {
    width: 5em;
}

div.dashboard-container {
    margin-bottom: 5px;
}

button.control {
    margin-right: 2px;
    padding: 2px 4px;
}
